:root {
  --main-bg-color: #faf5e4;
  --bg-transparent: var(--main-bg-color);
  --banner-color: #990000;
  --clickable-color: #33569e;
  --hover-color: #6699ff;
  --text-color: gray;
  --button-border: black;
}

html {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    color: var(--text-color);
}

body {
    background-color: var(--main-bg-color);
    padding-top: 55px;
    margin: 0;
    width: 100%;
}


.input-text {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius:10px;
  border: 2px solid var(--clickable-color);
  font-size: 1rem;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  color: var(--text-color);
}

.input-text:focus{
  outline:none;
}



.big {
    font-size:3rem;
}

.account-div {
 font-size: 1.5rem;
}

.sign-up-form {
  padding: 80 auto 80;
  bottom: 100px;
  width: 100%;
  margin: auto;
  height: 50%;
}

.show-account{
  font-size: 1.5rem;
}

#root {
  width: 100%;
  padding: 80 auto;
  text-align: center;
}

.show-margin {
/*
  border-style: solid;
  border-width: 5px;
*/

}

button {

  background-color: var(--clickable-color);
  border-color: var(--button-border);
  border-radius: 10px;
  color: var(--main-bg-color);
  padding: 12px 20px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-family: 'Pragati Narrow', sans-serif;
    
}

button:hover {
 background-color: var(--hover-color);
}

button:focus{
  outline:none;
}

#message {
  background-color: var(--main-bg-color);
  opacity: 80%;
  position: fixed;
  right: 0;
  bottom: 100px;
  color: var(--clickable-color);
  font-size: 2rem;
  border-radius: 20px;
  padding: 5px;
}

.hide-banner {
  position:fixed;
  left: 1px;
  color: black;
}

.hide-header {
  top: 1px;
}

.hide-footer {
  bottom:1px;
}

a {
color: var(--clickable-color);
}

#message:hover, a:hover, .borrow-button:hover, .hide-banner:hover {
 color: var(--hover-color);
}

.banner {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: var(--banner-color);
  color: var(--main-bg-color);
  text-align: center;
  padding: 5px;  
}

.hiding{
  position: fixed;
  text-align: center;
  font-size: 2rem;
  width: 100%;
}

#who-we-are{
  top:10px;
}

#salvation-army{
  bottom:10px;
}

#header {
  top: 0;
}

#footer {
  bottom: 0;
}

.return-search {
  font-size: 1.5rem;
}

.borrow-button {
 font-size: 1rem;
 color: var(--clickable-color);
}


hide {
  display: none;
}
